/* Estilo para el cuerpo de la página */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: #f6e4f6;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: all 300ms ease;
}

a:hover {
  color: #f6bdd1;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #f6bdd1;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 20px;
}

.navbar h1 {
  
  font-size: 55px;
  font-weight: bold;
  cursor: default;
  color: #7f7b82;
}

ul {
  flex: 1;
  text-align: right;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
  color: #363537;
  padding: 0 10px;
}

.hero {
  width: 80%;
  margin: auto;
}

.banner {
  display: flex;
  margin-top: 80px;
}

.left-column,
.right-column {
  flex-basis: 50%;
}

.right-column img {
  width: 50%;
  margin-left: 30%;
  border: 7px solid white;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.search-box {
  width: 45%;
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
  margin: 10px 0 30px;
}

.search-box img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.search-box input {
  width: 100%;
  margin-left: 15px;
  font-size: 17px;
  border: 0;
  outline: none;
}

.left-column h1 {
  font-size: 100px;
}

.left-column h3 {
  font-size: 35px;
  color: #e5d0cc;
}

span {
  color: #f6bdd1;
}

.left-column p {
  font-size: 20px;
  color: #100;
  margin: 50px 0;
}

.btn button {
  padding: 7px 30px;
  margin-right: 15px;
  outline: none;
  border: 2px solid #e08dac;
  border-radius: 20px;
  cursor: pointer;
  color: #e08dac;
  background-color: #eee5e9;
}

.btn button:hover {
  background-color: #e08dac;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn .primary-btn {
  color: #e08dac;
}

.btn {
  margin-bottom: 50px;
}

.social-icons {
  width: 200px;
  text-align: center;
  opacity: 0.4;
  position: relative;
  margin-left: -15px;
}

.social-icons img {
  height: 20px;
  margin: 0 13px;
}

.social-icons::after {
  content: "";
  width: 150px;
  height: 1px;
  position: absolute;
  left: -160px;
}

.navbar-icons img {
  height: 30px;
  margin-left: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-icons img:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  margin-top: 150px;
  text-align: center;
}

#calendar {
  text-align: center;
  margin-top: 20px;
}

#calendar img {
  max-width: 45%;
  padding: 10px;
  border: 5px solid white;
  border-radius: 50px;
  display: inline;
  margin: 22px;
}

/* Estilo adicional */
h1 {
  font-size: 40px;
}

span {
  color: #f6bdd1;
}
